
/.idea
/.idea
.idea/workspace.xml
.idea/workspace.xml
/.idea
*.xml
.idea/workspace.xml
src/baseDatos/__pycache__/__init__.cpython-311.pyc
src/gestorAplicacion/manejoLocal/__pycache__/Fecha.cpython-311.pyc
src/gestorAplicacion/productos/__pycache__/Consola.cpython-311.pyc
src/gestorAplicacion/productos/__pycache__/Producto.cpython-311.pyc
src/uiMain/__pycache__/gui.cpython-311.pyc
src/__pycache__/__init__.cpython-311.pyc
src/baseDatos/__pycache__/deserializador.cpython-311.pyc
src/gestorAplicacion/__pycache__/__init__.cpython-311.pyc
src/gestorAplicacion/__pycache__/mixins.cpython-311.pyc
src/gestorAplicacion/informacionVenta/__pycache__/Transaccion.cpython-311.pyc
src/gestorAplicacion/manejoLocal/__pycache__/Fecha.cpython-311.pyc
src/gestorAplicacion/manejoLocal/__pycache__/Tienda.cpython-311.pyc
src/gestorAplicacion/personas/__pycache__/Cliente.cpython-311.pyc
src/gestorAplicacion/personas/__pycache__/Empleado.cpython-311.pyc
src/gestorAplicacion/productos/__pycache__/Accesorio.cpython-311.pyc
src/gestorAplicacion/productos/__pycache__/Consola.cpython-311.pyc
src/gestorAplicacion/productos/__pycache__/Juego.cpython-311.pyc
src/gestorAplicacion/productos/__pycache__/Producto.cpython-311.pyc
src/uiMain/__pycache__/__init__.cpython-311.pyc
src/uiMain/__pycache__/funcionalidad4.cpython-311.pyc
src/gestorAplicacion/informacionVenta/__pycache__/Transaccion.cpython-311.pyc
src/gestorAplicacion/manejoLocal/__pycache__/Tienda.cpython-311.pyc
src/gestorAplicacion/personas/__pycache__/Cliente.cpython-311.pyc
src/gestorAplicacion/personas/__pycache__/Empleado.cpython-311.pyc
src/gestorAplicacion/productos/__pycache__/Accesorio.cpython-311.pyc
src/gestorAplicacion/productos/__pycache__/Consola.cpython-311.pyc
src/gestorAplicacion/productos/__pycache__/Producto.cpython-311.pyc
